@model IEnumerable<KnowSL.ContextDB.IngredientDescription>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="scaffolding-template">
    <h2>
        Ingredient Description</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                IngredientID
            </th>
            <th>
                IngredientDescriptionTypeID
            </th>
            <th>
                Details
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IngredientID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IngredientDescriptionTypeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IngredientDescriptionID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IngredientDescriptionID })
                    |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IngredientDescriptionID })
                </td>
            </tr>
        }
    </table>
</div>
