@model IEnumerable<KnowSL.Database.NewsLetter>
@{
    ViewBag.Title = "BetaUserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .style-table
    {
        margin: 0 auto;
        min-height: 400px;
        padding-top: 36px;
        font-weight: bold;
        width: 700px;
    }
</style>
<ul>
    <li>@Html.ActionLink("Ingredients", "Index", "Ingredient")</li>
    <li>@Html.ActionLink("Ingredients Descriptions", "Index", "IngredientDescription")</li>
    <li>@Html.ActionLink("Ingredients Description Types", "Index", "IngredientDescriptionType")</li>
    <li>@Html.ActionLink("Beta User Email Addresses", "Index", "NewsLetterList")</li>
    <li>@Html.ActionLink("Products", "Index", "Product")</li>
    <li>@Html.ActionLink("Product Ingredient Links", "Index", "ProductInredientLink")</li>

</ul>
<ul class="style-table">
    <li style="list-style: none;">
        <h4>
            Beta Signup List</h4>
    </li>
    @foreach (var item in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => item.email) [@Html.DisplayFor(modelItem => item.CreatedOn)]
        </li>
    }
</ul>
